<div class="welcome-page">
  <!-- Heading for welcome page with CineVault brand name highlighted -->
  <h1>Welcome to <span class="brand">CINEVAULT</span>!</h1>

  <!-- Container for action buttons (Sign Up and Login)-->
  <div class="button-container">
    <!-- Sign Up button, navigates to the registration dialog when clicked -->
    <button
      mat-raised-button
      color="primary"
      aria-label="Sign Up for CineVault"
      (click)="openSignupDialog()"
      class="action-button"
    >
      Sign Up
    </button>

    <!-- Login button, navigates to the login dialog when clicked -->
    <button
      mat-raised-button
      color="primary"
      aria-label="Login to CineVault"
      (click)="openLoginDialog()"
      class="action-button"
    >
      Login
    </button>
  </div>
</div>