/* Common Variables */
$primary-color: #118ab2; // Blue color for text
$accent-color: #ffd166; // Yellow color for the underline

/* Welcome page container styles */
.welcome-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(120deg, #118ab2, #06d6a0);
  color: #fff;
  font-family: "Roboto", sans-serif;
  padding: 0 2rem;

  /* Header (h1) styling for welcome message */
  h1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 0;
    margin-top: 0; /* Remove the top margin */
    position: relative;
    z-index: 1; /* Ensure it's above the background */
  }

  /* Brand name (CineVault) styling */
  .brand {
    color: #ffd166; /* Brand color for CineVault */
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 3.7rem;
    letter-spacing: 2px;
  }
}

/* Button container for Sign Up and Login buttons */
.button-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  width: 100%;
  flex-wrap: wrap;
}

/* Styling for action buttons (Sign Up and Login) */
.action-button {
  font-size: 1.3rem;
  padding: 1rem 2.5rem;
  border-radius: 40px;
  background-color: #ffd166;
  color: #fff;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  /* Hover effect for buttons */
  &:hover {
    background-color: #ff9f00;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }

  /* Active state for buttons (when clicked) */
  &:active {
    transform: translateY(1px);
  }

  /* Focus state for accessibility*/
  &:focus {
    outline: none;
    border: 2px solid #118ab2; // Highlight border on focus
  }
}

/* Flickering effect animation */
@keyframes flicker {
  0%,
  100% {
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); /* Soft shadow at start and end */
  }
  50% {
    text-shadow: 4px 4px 15px rgba(255, 214, 102, 0.8); /* Intense yellow shadow at halfway point */
  }
}