# Editor configuration, see https://editorconfig.org
root = true  # This defines the root of the configuration file, stopping the search for other .editorconfig files in parent directories

# General settings applied to all file types
[*]
charset = utf-8  # Set file encoding to UTF-8
indent_style = space  # Use spaces for indentation instead of tabs
indent_size = 2  # Set the number of spaces per indentation level
insert_final_newline = true  # Ensure the file ends with a newline character
trim_trailing_whitespace = true  # Remove any unnecessary whitespace at the end of lines

# Specific settings for TypeScript (.ts) files
[*.ts]
quote_type = single  # Enforce single quotes for strings in TypeScript files

# Specific settings for Markdown (.md) files
[*.md]
max_line_length = off  # Disable line length limitation for Markdown files
trim_trailing_whitespace = false  # Don't remove trailing whitespace in Markdown files (to preserve formatting)