<div *ngIf="!loading && !error">
    <div class="movie-cards-container">
      <mat-card *ngFor="let movie of movies" class="movie-card">
        <mat-card-header>
          <mat-card-title>{{ movie.title }}</mat-card-title>
        </mat-card-header>
  
        <img
          mat-card-image
          [src]="movie.imagePath"
          [alt]="movie.title"
          (error)="onImageError($event)"
        />
  
        <mat-card-content>
          <div class="movie-card-details">
            <div class="buttons-container">
              <!-- Add to Favorites Button -->
              <div class="favorite-container" (click)="toggleFavorite(movie)">
                <mat-icon
                  [ngClass]="{
                    'favorite': movie.isFavorite,
                    'not-favorite': !movie.isFavorite
                  }"
                >
                  {{ movie.isFavorite ? 'favorite' : 'favorite_border' }}
                </mat-icon>
                <span>{{ movie.isFavorite ? 'Added to Favorites' : 'Add to Favorites' }}</span>
              </div>
  
              <!-- Show/Hide Details Button -->
              <button mat-button color="primary" (click)="toggleAllDetails(movie)">
                {{ movie.areDetailsVisible ? 'Hide Details' : 'Show Details' }}
              </button>
            </div>
  
            <div *ngIf="movie.areDetailsVisible">
              <p>{{ movie.synopsis || 'No synopsis available.' }}</p>
              <div>
                <p><strong>Genre:</strong> {{ movie.genre.name }}</p>
                <p><strong>Description:</strong> {{ movie.genre.description || 'No description available.' }}</p>
              </div>
              <div>
                <p><strong>Director:</strong> {{ movie.director.name }}</p>
                <p><strong>Bio:</strong> {{ movie.director.bio }}</p>
                <p><strong>Birth Year:</strong> {{ movie.director.birthYear || 'N/A' }}</p>
                <p><strong>Death Year:</strong> {{ movie.director.deathYear || 'N/A' }}</p>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  