<!-- Loading Spinner -->
<div *ngIf="loading">Loading movies...</div>
<div *ngIf="error">{{ error }}</div>

<div *ngIf="!loading && !error">
  <div class="movie-cards-container">
    <mat-card *ngFor="let movie of movies" class="movie-card">
      <!-- Card Header -->
      <mat-card-header>
        <mat-card-title>{{ movie.title }}</mat-card-title>
      </mat-card-header>

      <!-- Movie Image -->
      <img
        mat-card-image
        [src]="movie.imagePath"
        [alt]="movie.title"
        (error)="onImageError($event)"
      />

      <mat-card-content>
        <div class="movie-card-details">
            <!-- Single Button to toggle all details visibility -->
            <button mat-button color="primary" (click)="toggleAllDetails(movie)">
                {{ movie.areDetailsVisible ? "Hide Details" : "Show Details" }}
            </button>
    
            <!-- Display all details if areDetailsVisible is true -->
            <div *ngIf="movie.areDetailsVisible">
                <!-- Synopsis -->
                <p>{{ movie.synopsis || "No synopsis available." }}</p>
    
                <!-- Genre -->
                <div>
                    <p><strong>Genre:</strong> {{ movie.genre.name }}</p>
                    <p><strong>Description:</strong> {{ movie.genre.description || "No description available." }}</p>
                </div>
    
                <!-- Director -->
                <div>
                    <p><strong>Director:</strong> {{ movie.director.name }}</p>
                    <p><strong>Bio:</strong> {{ movie.director.bio }}</p>
                    <p><strong>Birth Year:</strong> {{ movie.director.birthYear || "N/A" }}</p>
                    <p><strong>Death Year:</strong> {{ movie.director.deathYear || "N/A" }}</p>
                </div>
            </div>
        </div>
    </mat-card-content>
    

      <!-- Card Actions -->
      <div class="movie-card-buttons">
        <!-- Button for adding/removing from favorites -->
        <mat-icon
          (click)="toggleFavorite(movie)"
          [class.favorite]="movie.isFavorite"
          [class.not-favorite]="!movie.isFavorite"
        >
          {{ movie.isFavorite ? "favorite" : "favorite_border" }}
        </mat-icon>
      </div>
    </mat-card>
  </div>
</div>
