<!-- Page Title/Header -->
<h1 class="page-header">Movie Library</h1>

<!-- Conditional rendering: Only display content if not loading and no errors are present -->
<div *ngIf="!loading && !error">
  <!-- Container for all movie cards -->
  <div class="movie-cards-container">
    <!-- Iterate over the list of movies and create a card for each movie -->
    <mat-card *ngFor="let movie of movies" class="movie-card">
      <!-- Movie card header section -->
      <mat-card-header class="movie-card-header">
        <!-- Display the movie title -->
        <mat-card-title class="movie-title">{{ movie.title }}</mat-card-title>
      </mat-card-header>

      <!-- Image section of the movie card -->
      <div class="movie-image-container">
        <!-- Movie poster image -->
        <img
          mat-card-image
          [src]="movie.imagePath"
          [alt]="movie.title"
          (error)="onImageError($event)"
          class="movie-image"
        />
      </div>

      <!-- Content section of movie card -->
      <mat-card-content>
        <div class="movie-card-details">
          <!-- Container for interactive buttons -->
          <div class="buttons-container">
            <!-- Add to Favorites Button -->
            <div class="favorite-container" (click)="toggleFavorite(movie)">
              <!-- Favorite icon changes based on the movie's favorite status -->
              <mat-icon
                [ngClass]="{
                  favorite: movie.isFavorite,
                  'not-favorite': !movie.isFavorite
                }"
              >
                {{ movie.isFavorite ? "favorite" : "favorite_border" }}
              </mat-icon>
              <!-- Text updates dynamically based on the favorite status -->
              <div class="text-container">
                <span>
                  {{
                    movie.isFavorite
                      ? "Remove from Favorites"
                      : "Add to Favorites"
                  }}
                </span>
              </div>
            </div>

            <!-- Show/Hide Details Button -->
            <div class="button-container" (click)="toggleAllDetails(movie)">
              <!-- Expand/collapse icon toggles based on details visibility -->
              <mat-icon>{{
                movie.areDetailsVisible ? "expand_less" : "expand_more"
              }}</mat-icon>
              <!-- Button text changes based on details visibility -->
              <div class="text-container">
                <span>{{
                  movie.areDetailsVisible ? "Hide Details" : "Show Details"
                }}</span>
              </div>
            </div>
          </div>

          <!-- Details section: Displays additional movie information if details are visible -->
          <div *ngIf="movie.areDetailsVisible" class="movie-details">
            <p><strong>Synopsis:</strong>{{ movie.synopsis }}</p>
            <div>
              <p><strong>Genre:</strong> {{ movie.genre.name }}</p>
              <p>
                <strong>Description:</strong>
                {{ movie.genre.description || "No description available." }}
              </p>
            </div>
            <div>
              <p><strong>Director:</strong> {{ movie.director.name }}</p>
              <p><strong>Bio:</strong> {{ movie.director.bio }}</p>
              <p>
                <strong>Birth Year:</strong>
                {{ movie.director.birthYear || "N/A" }}
              </p>
              <p>
                <strong>Death Year:</strong>
                {{ movie.director.deathYear || "N/A" }}
              </p>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
