/* Common variables */
$primary-color: #118ab2;
$input-border-color: #ffd166;
$input-focus-border-color: #007bff;
$form-background-color: #f8f9fa;
$form-padding: 20px;
$form-border-radius: 8px;
$form-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$form-outline-color: #ffd166;
$card-gap-large: 1rem;
$card-gap-medium: 0.75rem;
$card-gap-small: 0.5rem;
$card-padding-small: 1rem;
$card-padding-large: 1.5rem;
$button-text-color: #ffffff;
$button-background-color: #ef476f;
$button-border-color: #ef476f;
$card-background-color: #ffffff;
$card-image-height: 15rem;
$card-height: 30rem;
$button-spacing: 0.5rem;
$title-spacing: 2rem;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

/* Movie cards container styling */
.movie-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
    gap: 20px; /* Spacing between the cards */
    padding: 20px;
    margin: 0 auto; /* Center the grid container */
    width: 100%;
    box-sizing: border-box;
    grid-auto-rows: minmax(200px, auto); /* Ensure the rows have a minimum height */
}

/* Individual movie card styling */
.mat-card {
  background-color: $card-background-color;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  padding: 1rem; /* Adjust padding to make cards smaller */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 100%;
  max-width: 18rem; /* Set max width to ensure cards are not too wide */

  /* Movie Image Styling */
  .movie-card-image {
    max-height: 12rem; /* Limit the image height */
    object-fit: contain; /* Ensure the entire image is visible */
    width: 100%;
  }
  

  .movie-card-details {
    flex-grow: 1; /* Allow details to grow and fill remaining space */
  }

  .movie-card-buttons {
    margin-top: 1rem;
  }
}

/* Ensure movies are laid out properly on different screen sizes */
@media (max-width: $breakpoint-lg) {
    .movie-cards-container {
      grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
    }
    .mat-card {
      max-width: 16rem; /* Adjust max width for medium screens */
    }
}

@media (max-width: $breakpoint-md) {
    .movie-cards-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    }
    .mat-card {
      max-width: 14rem; /* Adjust max width for smaller screens */
    }
}

@media (max-width: $breakpoint-sm) {
    .movie-cards-container {
      grid-template-columns: 1fr; /* 1 column for very small screens */
    }
    .mat-card {
      max-width: 12rem; /* Adjust max width for very small screens */
    }
}
