 <!-- Loading Spinner -->
<div *ngIf="loading"></div>

<!-- User Profile Section -->
<div *ngIf="!loading">
  <mat-card class="user-profile">
    <div class="user-profile-header">
      <h2>User Profile</h2>
    </div>

    <!-- User Profile Information -->
    <div class="user-profile-details">
      <p><strong>Username:</strong> {{ userData.username || "No Username" }}</p>
      <p><strong>Email:</strong> {{ userData.email || "No Email" }}</p>
      <p>
        <strong>Birthdate:</strong>
        {{ userData.birthdate | date : "longDate" || "No Birthdate" }}
      </p>
    </div>
  </mat-card>

  <!-- Favorite Movies Section -->
  <mat-card class="favorite-movies">
    <h3>Favorite Movies</h3>
    <div *ngIf="!loading && !error">
        <div class="movie-cards-container">
          <div *ngIf="favoriteMovies.length > 0; else noFavorites">
            <mat-card *ngFor="let movie of favoriteMovies" class="mat-card">
              <!-- Card Header -->
              <mat-card-header>
                <mat-card-title>{{ movie.title }}</mat-card-title>
              </mat-card-header>

              <!-- Movie Image -->
              <img
                mat-card-image
                [src]="movie.imagePath || 'assets/placeholder-image.jpg'"
                [alt]="movie.title"
                (error)="onImageError($event)"
                class="movie-card-image"
              />

              <!-- Card Content -->
              <mat-card-content>
                <div class="movie-card-details">
                  <!-- Button to toggle Synopsis visibility -->
                  <button
                    mat-button
                    color="primary"
                    (click)="toggleSynopsis(movie)"
                  >
                    {{
                      movie.isSynopsisVisible ? "Hide Synopsis" : "Show Synopsis"
                    }}
                  </button>
                  <p *ngIf="movie.isSynopsisVisible">
                    {{ movie.synopsis || "No synopsis available." }}
                  </p>

                  <!-- Button to toggle Genre visibility -->
                  <button mat-button color="primary" (click)="toggleGenre(movie)">
                    {{ movie.isGenreVisible ? "Hide Genre" : "Show Genre" }}
                  </button>
                  <div *ngIf="movie.isGenreVisible">
                    <p>Genre: {{ movie.genre.name }}</p>
                    <p>
                      Description:
                      {{ movie.genre.description || "No description available." }}
                    </p>
                  </div>

                  <!-- Button to toggle Director visibility -->
                  <button
                    mat-button
                    color="primary"
                    (click)="toggleDirector(movie)"
                  >
                    {{
                      movie.isDirectorVisible ? "Hide Director" : "Show Director"
                    }}
                  </button>
                  <div *ngIf="movie.isDirectorVisible">
                    <p>Director: {{ movie.director.name }}</p>
                    <p>Bio: {{ movie.director.bio }}</p>
                    <p>Birth Year: {{ movie.director.birthYear || "N/A" }}</p>
                    <p>Death Year: {{ movie.director.deathYear || "N/A" }}</p>
                  </div>
                </div>
              </mat-card-content>

              <!-- Card Actions -->
              <div class="movie-card-buttons">
                <!-- Button for adding/removing from favorites -->
                <mat-icon
                  (click)="toggleFavorite(movie)"
                  [class.favorite]="movie.isFavorite"
                  [class.not-favorite]="!movie.isFavorite"
                >
                  {{ movie.isFavorite ? "favorite" : "favorite_border" }}
                </mat-icon>
              </div>
            </mat-card>
          </div>
        </div>
        <ng-template #noFavorites>
          <p>No favorite movies found.</p>
        </ng-template>
    </div>
  </mat-card>
</div>
